body {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
}

.container {
  border: 1px solid;
  width: 40%;
  margin: auto;
  background-color: white;
  box-shadow: 0 5px 20px -5px rgba(2, 1, 1, 0.76);
  -webkit-box-shadow: 0 5px 20px -5px rgba(10, 7, 7, 0.76);
  -moz-box-shadow: 0 5px 20px -5px rgba(5, 3, 3, 0.76);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: -10px;
  padding-left: 10px;
}

.header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.todo-add {
  display: flex;
  padding-top: -10px;
  padding-left: 10px;
}

.todo-add button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-field {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 18px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-style: italic;
}

ul {
  list-style: none;
  padding: 10px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.btns {
  margin-left: auto;
  display: flex;
  gap: 40px;
}

.close-button {
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 30px;
  color: red;
}

.edit {
  border-color: transparent;
  height: 40px;
  background-color: #fffedd;
}

.edit:focus-visible {
  outline: green auto 1px;
  font-size: 15px;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
  color: blue;
}

.scroll {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.footer {
  background-color: #f6f6f6;
  height: 50px;
  border-top: 1px solid;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.footer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 760px) {
  .container {
    width: 90%;
    margin: auto;
  }

  body {
    height: 100vh;
    margin: auto;
  }
}
