* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

h1 {
  font-size: 2em;
  font-family: Arial, sans-serif;
}

.todo-list {
  background-color: white;
  color: gray;
  width: 40%;
  margin: 10em auto;
  box-shadow: 0.5em 0.5em 4em 0.5em;
}

.add {
  box-sizing: border-box;
  width: 100%;
  font-style: italic;
}

.delete {
  padding: 1em;
  cursor: pointer;
}

i {
  cursor: pointer;
  margin-left: auto;
}

.taskText {
  color: gray;
  margin: 0 0 0 1em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.delete h3 {
  text-align: center;
  font-family: Arial, sans-serif;
}

.item {
  border-bottom: 1px solid lightgray;
  padding: 1em;
  display: flex;
  align-items: center;
}

.fa-solid {
  color: red !important;
  display: block !important;
  font-size: 20px;
}

@media screen and (max-width: 760px) {
  .todo-list {
    width: 90%;
    margin: auto;
  }

  body {
    height: 100vh;
    margin: auto;
  }
}
